body {
    font-family: Montserrat, sans-serif;
    margin: none;
    color: #222;
}
div.subheader {
    background-color: #DFDFDF;
    margin-left: none;
    margin-right: none;
    color: #111;
    width: 100%;
}
div.subheader h2 {
    margin: none;
    width: 100%;
}